.gitlab-live-container
  .gitlab-live-iframe-container
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZgFqyXCsqPY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  .flex-container.flex-column.full-width
    .gitlab-live-info-container.margin-top0
      %h1 Announcing $100M Series D funding
      %p Watch our #GitLabLive event to learn what's next for GitLab
      %a.btn.cta-btn.orange.margin-top20{ href: "/2018/09/19/announcing-100m-series-d-funding/" } Learn more
    .share-container
      %p
        Share using
        %a{ href: "https://twitter.com/search?q=%23gitlablive", target: "_blank" } #GitLabLive:
      %a{ href: "https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com/2018/09/19/announcing-100m-series-d-funding/", target: "_blank" }
        %i.fab.fa-facebook
      %a{ href: "https://twitter.com/intent/tweet?url=https%3A%2F%2Fabout.gitlab.com%2F2018%2F09%2F19%2Fannouncing-100m-series-d-funding%2F&via=gitlab&text=GitLab%20raises%20%24100%20Series%20D.%20See%20what%27s%20coming%20next%21&hashtags=gitlablive", target: "_blank" }
        %i.fab.fa-twitter
      %a{ href: "https://www.linkedin.com/shareArticle?mini=true&url=https://about.gitlab.com/2018/09/19/announcing-100m-series-d-funding/&summary=Check%20out%20GitLabs%20livestream%20-%20Whats%20next%20for%20GitLab", target: "_blank" }
        %i.fab.fa-linkedin
      %a{ href: "http://www.reddit.com/submit?url=https://about.gitlab.com/2018/09/19/announcing-100m-series-d-funding/=Post%20to%20Reddit%20via%20URL", target: "_blank" }
        %i.fab.fa-reddit
