%section.ten-oh-announcement
  .ten-oh-label
    %span 11.3
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              This month’s release of GitLab 11.3 includes Maven integration, Protected Environments, Code Owners, epic forecasting, and much more!
            .btn-group
              %a.btn.cta-btn.btn-white{href: "/2018/09/22/gitlab-11-3-released/"}
                See what’s new
