%p
  = "#{data.currency_exchange_rates.last_updated} Oanda Rates"

%div.table-responsive
  %table
    %thead
      %tr
        %th
          Rate to USD
        %th
          Currency
    %tbody
      - data.currency_exchange_rates.rates_to_usd.each do |currency|
        %tr
          %td
            = currency["rate"]
          %td
            = currency["currency_code"]
